@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

.navbar{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.nav-link{
    color: #ff0505 !important;
}
